# =============================
# DB, setting
# =============================

# Spring Boot 
/application.properties

# PostgreSQL
/data/
*.sql

# =============================
# OS
# =============================

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
*~

# =============================
# Build
# =============================

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/
!gradle-wrapper.jar
!gradle-wrapper.properties

# =============================
# IDE
# =============================

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Eclipse
.project
.classpath
.settings/
*.launch

# VS Code
.vscode/
*.code-workspace

# =============================
# etc
# =============================

*.log

*.jar
*.war
*.ear

*.exe
*.dll
*.so

*.zip
*.tar.gz
*.rar

.cache/
.tmp/
temp/
