/* employee.css */
.main-container {
    max-width: 900px;
    margin: 0 auto;
}
.employee-table th {
    background-color: #28A745;
    color: white;
}
.employee-table tr:nth-child(even) {
    background-color: #f2f2f2;
}
