* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
}

.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100vh;
    background-color: #4a4a4a;
    padding: 20px 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.sidebar.active {
    left: 0; /* 활성화 상태: 화면에 표시 */
}
.sidebar button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    text-align: left;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.sidebar button:hover {
    background-color: #6a6a6a;
    color: #e0e0e0;
}

.sideForm{
margin-top: 70px;


}


@media (max-width: 768px) {
    .skills-management-container {
        margin-left: 20px; 
        margin-right: 20px;
    }
}
