<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account Management</title>
    <link rel="stylesheet" th:href="@{/css/accountManagement.css}">
</head>
<body>
    <div th:insert="~{navbar :: navbar}"></div>
    <div th:insert="~{sidebar :: sidebar}"></div>
    <div class="account-management-container">
        <h2>アカウント管理</h2>
        <table>
            <thead>
                <tr>
                    <th>
                        名前
                        <a th:href="@{/accounts?sort=name&direction=asc}" class="sort-arrow">▲</a>
                        <a th:href="@{/accounts?sort=name&direction=desc}" class="sort-arrow">▼</a>
                    </th>
                    <th>
                        名前(英語)
                        <a th:href="@{/accounts?sort=romajiName&direction=asc}" class="sort-arrow">▲</a>
                        <a th:href="@{/accounts?sort=romajiName&direction=desc}" class="sort-arrow">▼</a>
                    </th>
                    <th>
                        社員番号
                        <a th:href="@{/accounts?sort=userId&direction=asc}" class="sort-arrow">▲</a>
                        <a th:href="@{/accounts?sort=userId&direction=desc}" class="sort-arrow">▼</a>
                    </th>
                    <th>削除</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.userName}"></td>
                    <td th:text="${user.userNameRomaji}"></td>
                    <td th:text="${user.userId}"></td>
                    <td>
                        <input type="checkbox" name="userIds" th:value="${user.userId}">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
