<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account Management</title>
    <link rel="stylesheet" th:href="@{/css/accountManagement.css}">
    <script>
        function confirmAction(action) {
            return confirm(action + "しますか?");
        }
    </script>
</head>
<body>
    <div class="account-management-container">
        <div class="header">
            <a th:href="@{/login}" class="cancel-button">戻る</a>
        </div>
        <h2>アカウント管理</h2>
        <table>
            <thead>
                <tr>
                    <th>名前</th>
                    <th>名前(英語)</th>
                    <th>社員番号</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.userName}"/>
                    <td th:text="${user.userNameRomaji}"/>
                    <td th:text="${user.userId}"/>
                    <td>
                        <form th:action="@{/account/deactivate}" method="post" th:if="${user.deleteFlag != null and user.deleteFlag == false}"
                              onsubmit="return confirmAction('削除')">
                            <input type="hidden" name="userId" th:value="${user.userId}">
                            <button type="submit">削除</button>
                        </form>
                        <form th:action="@{/account/activate}" method="post" th:if="${user.deleteFlag != null and user.deleteFlag == true}"
                              onsubmit="return confirmAction('復活')">
                            <input type="hidden" name="userId" th:value="${user.userId}">
                            <button type="submit">復活</button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
