<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>アカウント管理画面</title>
</head>
<body>
	<script src="/js/accountManage.js"></script>
	 <form action="/empSearchBtn" method="get">
		 検索フィルター:
        <select id="selectType" name="selectType" onchange="updateInputField()">
            <option value="empId">社員番号</option>
            <option value="empName">社員名</option>
        </select>
        
        <!-- 動的に切り替わる入力フィールド -->
        <input id="dynamicInput" type="number" name="empId" placeholder="社員番号" />
        
        削除したアカウントの表示:
        <select name="deleteFlag">
            <option value="1">表示する</option>
            <option value="0">表示しない</option>
        </select>
        
        <button type="submit">検索</button>
    </form>

        <table>
            <tr>
                <th>社員ID</th>
                <th>社員名</th>
                <th>倫理操作</th>
            </tr>
            
            <!-- 倫理操作フラグ 0なら未削除アカウント（削除btn）.１なら削除済みアカウント(復活btn) -->
            <tr th:each="employee : ${searchResults}">
                <td th:text="${employee.empId}">社員ID</td>
                <td th:text="${employee.empName}">社員名</td>
                <td>
                    <div th:if="${employee.deleteFlag == 1}">
                        <form action="/restoreEmployee" method="post">
                            <input type="hidden" name="empId" th:value="${employee.empId}" />
                            <button type="submit">復活</button>
                        </form>
                    </div>
                    <div th:if="${employee.deleteFlag == 0}">
                        <form action="/deleteEmployee" method="post">
                            <input type="hidden" name="empId" th:value="${employee.empId}" />
                            <button type="submit">削除</button>
                        </form>
                    </div>
                </td>
            </tr>
        </table>
</body>
</html>
