<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Account Management</title>
    <link rel="stylesheet" th:href="@{/css/accountManagement.css}">
</head>
<body>
    <div th:insert="~{navbar :: navbar}"></div>
    <div th:insert="~{sidebar :: sidebar}"></div>
    <div class="account-management-container">
        <h2>アカウント管理</h2>
        <table id="accountTable">
            <thead>
                <tr>
                    <th>
                        名前
                        <button class="sort-arrow" data-sort="name" data-order="asc">▲</button>
                        <button class="sort-arrow" data-sort="name" data-order="desc">▼</button>
                    </th>
                    <th>
                        名前(英語)
                        <button class="sort-arrow" data-sort="romajiName" data-order="asc">▲</button>
                        <button class="sort-arrow" data-sort="romajiName" data-order="desc">▼</button>
                    </th>
                    <th>
                        社員番号
                        <button class="sort-arrow" data-sort="userId" data-order="asc">▲</button>
                        <button class="sort-arrow" data-sort="userId" data-order="desc">▼</button>
                    </th>
                    <th>照会</th>
                    <th>
                        <button id="deleteSelected">削除</button>
                    </th>
                </tr>
            </thead>
            <tbody id="accountTableBody">
                <tr th:each="user : ${users}">
                    
                    <td th:text="${user.userName}" data-name="${user.userName}"></td>
                    <td th:text="${user.userNameRomaji}" data-romajiName="${user.userNameRomaji}"></td>
                    <td th:text="${user.userId}" data-userId="${user.userId}"></td>
                    <td>
                        <form th:action="@{/resume/view}" method="get">
                            <input type="hidden" name="userId" th:value="${user.userId}">
                            <button type="submit">照会</button>
                        </form>
                    </td>
                    <td>
                        <input type="checkbox" name="userIds" th:value="${user.userId}">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="/js/accountManagement.js"></script>
</body>
</html>
