<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>社員画面</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="employee-container">
        <h1>社員情報</h1>
        <p>ようこそ、[ユーザー名]さん</p>
        <div class="button-container">
            <a href="change-password.html"button type="submit">パスワード変更</button><li></li>
            <a href="edit-resume.html" class="button">経歴書編集</a><li></li>
            <a href="index.html" class="button">ログアウト</a>
        </div>
    </div>
</body>
</html>
