<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
    <div class="login-container">
        <h1>ログイン</h1>
        <form th:action="@{/login}" method="post">
            <div>
                <input type="text" name="username" placeholder="社員番号" required />
            </div>
            <div>
                <input type="password" name="password" placeholder="パスワード" required />
            </div>
            <div>
                <button type="submit">ログイン</button>
            </div>
        </form>
        <a th:href="@{/register}">アカウント登録</a>
    </div>
</body>
</html>
