<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>login</title>
</head>
<body>
    <h1>login page</h1>
    <div th:if="${param.error}">
        <p>Login fail</p>
    </div>    
    <form th:action="@{/login}" method="post">
        <div>
            <label>id:</label>
            <input type="text" name="userId"/>
        </div>
        <div>
            <label>pw:</label>
            <input type="password" name="password"/>
        </div>
        <div>
            <button type="submit">login</button>
        </div>
    </form>
    <a th:href="@{/register}">sign up</a>
</body>
</html>
