
    <div th:fragment="navbar">
        <head>
            <link rel="stylesheet" th:href="@{/css/navbar.css}">
            <script>
                function toggleMenu() {
                    const sidebar = document.querySelector(".sidebar");
                    if (sidebar) {
                        sidebar.classList.toggle("active");
                    } else {
                        console.error("Sidebar element not found");
                    }
                }
            </script>
        </head>
        <nav class="navbar">
            <button class="menu-toggle" onclick="toggleMenu()">☰</button>
            <h1></h1>
        </nav>
    </div>
