<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Password Reset</title>
    <link rel="stylesheet" th:href="@{/css/passwordReset.css}">
</head>
<body>
    <div class="password-reset-container">
        <h1>パスワードリセット</h1>
        <form th:action="@{/password/reset}" th:object="${resetPasswordDto}" method="post">
                <input type="hidden" th:field="*{userId}">
            <div>
                <input type="password" th:field="*{newPassword}" placeholder="新しいパスワード" required />
            </div>
            <div>
                <input type="password" th:field="*{confirmPassword}" placeholder="新しいパスワード再入力" required />
            </div>
            <div>
                <button type="submit">リセット</button>
            </div>
        </form>
        <a th:href="@{/login}">ログインに戻る</a>
        <!-- error message -->
        <div th:if="${errorMessage}" class="error-message">
            <p th:text="${errorMessage}"></p>
        </div>        
    </div>
</body>
</html>