<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Password Reset</title>
    <link rel="stylesheet" th:href="@{/css/passwordReset.css}">
</head>
<body>
    <div class="password-reset-container">
        <h1>パスワードリセット</h1>
        <form th:action="@{/password/reset}" th:object="${userPasswordResetDto}" method="post">
            <div>
                <input type="text" th:field="*{userId}" placeholder="社員番号" required />
            </div>
            <div>
                <input type="password" th:field="*{newPassword}" placeholder="新しいパスワード" required />
            </div>
            <div>
                <button type="submit">リセット</button>
            </div>
        </form>
        <a th:href="@{/login}">ログインに戻る</a>
    </div>
</body>
</html>
