<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>sign up</title>
</head>
<body>
    <h1>sign up page</h1>
    <form th:action="@{/register}" th:object="${userDto}" method="post">
        <div>
            <label>id:</label>
            <input type="text" th:field="*{userId}" />
        </div>
        <div>
            <label>pw:</label>
            <input type="password" th:field="*{password}" />
        </div>
        <div>
            <label>Role:</label>
            <select th:field="*{role}">
                <option value="ROLE_USER">User</option>
                <option value="ROLE_ADMIN">Admin</option>
            </select>
        </div>
        <div>
            <button type="submit">sign up</button>
        </div>
    </form>
</body>
</html>
