<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Resume Form</title>
    <link rel="stylesheet" th:href="@{/css/resumeForm.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="/js/resumeForm.js" defer></script>
</head>


<body>
    <div class="container a4-container">
        <div class="header">
            <!-- キャンセルボタンを左側に追加 -->
            <a th:href="@{/resume/view(userId=${resumeDto.userInfo.userId})}" class="cancel-button"
                onclick="return confirm('変更を保存せずに戻りますか？');">戻る</a>
            <!-- 保存ボタン -->
            <button type="submit" form="resume-form" class="save-button">保存</button>
        </div>

        <form id="resume-form" th:action="@{/resume/save}" th:object="${resumeDto}" method="post">
            <!-- ユーザーIDを送信するためのhidden input -->
            <input type="hidden" th:field="*{userInfo.userId}" />

            <!-- Personal Information Section -->
            <section class="personal-info">
                <h2>個人情報</h2>
                <div class="input-group">
                    <label>
                        名前(漢字)
                        <input type="text" th:field="*{userInfo.userName}" placeholder="" required>
                    </label>
                    <label>
                        名前(ローマ字)
                        <input type="text" th:field="*{userInfo.userNameRomaji}" placeholder="" required>
                    </label>
                    <label>
                        性別
                        <select th:field="*{userInfo.gender}" required>
                            <option value="false">男性</option>
                            <option value="true">女性</option>
                        </select>
                    </label>
                    <label>
                        生年月日
                        <input type="date" th:field="*{userInfo.birthDate}" required>
                    </label>
                    <label>
                        本籍
                        <input type="text" th:field="*{userInfo.permanentAddress}" placeholder="">
                    </label>
                    <label>
                        配偶者
                        <select th:field="*{userInfo.spouse}">
                            <option value="false">無</option>
                            <option value="true">有</option>
                        </select>
                    </label>
                </div>
                <div class="input-group">
                    <label>
                        現住所
                        <input type="text" th:field="*{userInfo.currentAddress}" placeholder="">
                    </label>
                    <label>
                        最寄り駅
                        <input type="text" th:field="*{userInfo.nearestStation}" placeholder="">
                    </label>
                </div>
            </section>

            <!-- Education Section -->
            <section class="education">
                <h2>学歴</h2>
                <div class="input-group">
                    <label>
                        区分
                        <select th:field="*{userInfo.lastSchoolType}">
                            <option value="4年制">4年制</option>
                            <option value="2年制">2年制</option>
                        </select>
                    </label>
                    <label>
                        学校名
                        <input type="text" th:field="*{userInfo.lastSchool}" placeholder="">
                    </label>
                    <label>
                        卒業年月
                        <input type="date" th:field="*{userInfo.graduationDate}" required>
                    </label>
                    <label>
                        専攻名
                        <input type="text" th:field="*{userInfo.major}" placeholder="">
                    </label>
                </div>
            </section>

            <!-- Experience Section -->
            <section class="experience">
                <h2>経歴</h2>
                <div id="projects-container" th:each="project, iterStat : ${resumeDto.projects}">
                    <input type="hidden" th:field="*{projects[__${iterStat.index}__].projectId}"
                        th:value="${project.projectId}" />
                    <p>プロジェクト名 </p>
                    <input type="text" th:field="*{projects[__${iterStat.index}__].projectName}"
                        th:value="${project.projectName}" />
                    <p>作業場所 </p>
                    <input type="text" th:field="*{projects[__${iterStat.index}__].location}"
                        th:value="${project.location}" />
                    <p>開始日 </p>
                    <input type="date" th:field="*{projects[__${iterStat.index}__].startDate}"
                        th:value="${project.startDate}" />
                    <p>終了日 </p>
                    <input type="date" th:field="*{projects[__${iterStat.index}__].endDate}"
                        th:value="${project.endDate}" />

                    <p>使用したDB</p>
                    <div th:each="modelDB : ${modelDB}">
                        <input type="checkbox" th:field="*{projects[__${iterStat.index}__].db}"
                            th:value="${modelDB.name}" th:checked="${project.db.contains(modelDB.name)}">
                        <span th:text="${modelDB.name}">スキル名</span>
                    </div>
                    <p>使用したHW</p>
                    <div th:each="modelHW : ${modelHW}">
                        <input type="checkbox" th:field="*{projects[__${iterStat.index}__].hw}"
                            th:value="${modelHW.name}" th:checked="${project.hw.contains(modelHW.name)}">
                        <span th:text="${modelHW.name}">スキル名</span>
                    </div>
                    <p>使用したOS</p>
                    <div th:each="modelOS : ${modelOS}">
                        <input type="checkbox" th:field="*{projects[__${iterStat.index}__].os}"
                            th:value="${modelOS.name}" th:checked="${project.os.contains(modelOS.name)}">
                        <span th:text="${modelOS.name}">スキル名</span>
                    </div>
                    <p>使用した言語</p>
                    <div th:each="modelLanguage : ${modelLanguage}">
                        <input type="checkbox" th:field="*{projects[__${iterStat.index}__].language}"
                            th:value="${modelLanguage.name}"
                            th:checked="${project.language.contains(modelLanguage.name)}">
                        <span th:text="${modelLanguage.name}">スキル名</span>
                    </div>
                    <p>使用したTool</p>
                    <div th:each="modelTool : ${modelTool}">
                        <input type="checkbox" th:field="*{projects[__${iterStat.index}__].tool}"
                            th:value="${modelTool.name}" th:checked="${project.tool.contains(modelTool.name)}">
                        <span th:text="${modelTool.name}">スキル名</span>
                    </div>
                    <!-- チェックボックスのセクション -->
                    <label>使用したプロセス</label><br>
                    <input type="checkbox" th:field="*{projects[__${iterStat.index}__].processes}" value="A"
                        th:checked="${project.processes.contains('A')}"> A
                    <input type="checkbox" th:field="*{projects[__${iterStat.index}__].processes}" value="B"
                        th:checked="${project.processes.contains('B')}"> B
                    <input type="checkbox" th:field="*{projects[__${iterStat.index}__].processes}" value="C"
                        th:checked="${project.processes.contains('C')}"> C
                    <input type="checkbox" th:field="*{projects[__${iterStat.index}__].processes}" value="D"
                        th:checked="${project.processes.contains('D')}"> D
                    <input type="checkbox" th:field="*{projects[__${iterStat.index}__].processes}" value="E"
                        th:checked="${project.processes.contains('E')}"> E
                    <input type="checkbox" th:field="*{projects[__${iterStat.index}__].processes}" value="F"
                        th:checked="${project.processes.contains('F')}"> F
                    <input type="checkbox" th:field="*{projects[__${iterStat.index}__].processes}" value="G"
                        th:checked="${project.processes.contains('G')}"> G
                </div>
            </section>
            <!-- Summary Section -->
            <section class="summary">
                <h2>自己PR</h2>
                <div class="input-group">
                    <label>
                        自己PR
                        <textarea th:field="*{userInfo.selfPr}" placeholder="簡単に自己PRしてください。"
                            style="overflow: hidden; resize: none;"></textarea>
                    </label>
                </div>
            </section>
        </form>
    </div>
</body>

</html>
