<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>経歴書照会</title>
    <link rel="stylesheet" href="resume.css">
</head>
<body>
        <h1>経歴書照会</h1>
    <table>
        <tbody>
        <td><a href="edit-resume.html">経歴書編集</a></td>
        <td><a href="">経歴書出力</a></td>
        </tbody>
    </table>
    <div class="return-button">
        <a href="employee.html">社員情報画面に戻る</a>
    </div>
</body>
</html>