<div th:fragment="sidebar">
    <head>
        <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    </head>
    <div class="sidebar">
        <form th:action="@{/account/register}" method="get" class="sideForm">
            <button type="submit">アカウント新規作成</button>
        </form>
        <form th:action="@{/account/management}" method="get">
            <button type="submit">アカウント一覧</button>
        </form>
        <form th:action="@{/password/reset}" method="get">
            <button type="submit">パスワード変更</button>
        </form>
        <form th:action="@{/skill/main}" method="get">
            <button type="submit">スキル管理</button>
        </form>
        <form th:action="@{/logout}" method="post">
            <button type="submit">ログアウト</button>
        </form>
    </div>
</div>
